@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Colors palette */
:root {
--onyx: #3c3c3cff;
--office-green: #107c10ff;
--orange-web: #ffa400ff;
--green-yellow: #beee62ff;
--white: #fff;
--black: #000;
}

/* Css general */
* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Nunito Sans", sans-serif;
    width: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--green-yellow);
}

h2 {
    font-size: 25px;
    font-weight: bold;
    color: var(--orange-web);
}

h4 {
    font-weight: 100;
    color: var(--orange-web);
}

a {
    text-decoration: none;
    color: var(--black);
}

ul, li { 
    list-style: none;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--office-green);
    font-size: 20px;
    position: fixed;
    width: 100%;
}

nav, .navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}

nav .navbar, .item, a {
    padding: 5px 10px;
    font-weight: bold;
    color: var(--white);
}


/* Home */

main {
    background-color: var(--onyx);
    color: var(--white);
    font-size: 20px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:6% 0%;
}

/* Card */
.card {
    margin: 10px auto 0;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__face--front h2 {
    color: var(--orange-web);
    font-size: 32px;
  }
  
  .card__face--back {
    transform: rotateY(180deg);
  }
  
  .card__content {
    width: 100%;
    height: 100%;
  }
  
  .card__body {
    padding: 20px;
  }

.hero div.card_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

.card__body ul, li {
    margin: 10px 0%;
    
}

.description {
    width: 400px;
    height: auto;
    text-align: center;
}

.redes a, i {
    font-size: 24px;
    color: var(--green-yellow);
    margin: 20px;
}

.perfil {
    width: 300px;
    height: 300px;
    border-radius: 100%;
  
}

.team {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--white);
    color: var(--black);
    padding: 26px;
}

.perfiles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--white);
    padding: 20px;
    
}

.avatar a{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--office-green);
    font-size: 24px;
}

.team img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color:var(--office-green);
    color: var(--white);
    padding: 20px;
}

img.logo {
    width: 300px;
    height: auto;
}

.catedra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}

.column_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.legales, small {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0% 8%;
}

@media only screen and (max-width: 767px) {
    header {
        display: flex;
        justify-content: center;
    }

    nav .navbar, .item, a {
        padding: 5px 5px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding:20% 0%;
    }

    .hero div.card_column {
        padding: 2% 0;
    }

    .perfiles {
        display: flex;
        flex-direction: column;
    }

    .catedra {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        justify-content: center;
        align-items: flex-start;
    }

    .column_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}