@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Colors palette 
--onyx: #3c3c3cff;
--office-green: #107c10ff;
--orange-web: #ffa400ff;
--green-yellow: #beee62ff;
 */

/* Css general */
* {
    margin: 0%;
    padding: 0%;
    font-family: "Nunito Sans", sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #ffa400ff;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    color: #ffa400ff;
}

a {
    text-decoration: none;
    color: black;
}


/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #107c10ff;
    font-size: 20px;
}

nav, .navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}

nav .navbar, .item, a {
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: bold;
    color: #ffffff;
}

ul, li { 
    list-style: none;
}

/* Home */
main {
    background-color: #3c3c3cff;
    color: white;
    font-size: 20px;
}

.hero {
    display: flex;
    justify-content: space-around;

}

.hero div.card_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    margin: 10px;
}

.title_card {
    text-align: center;
    margin: 20px;
}

.info_card {
    width: 300px;
    height: 300px;
    border-radius: 8%;
    padding: 5px;
    text-align: center;
    
}

.info_card ul, li {
    margin: 10px 0%;
    
}

.description {
    width: 400px;
    height: auto;
    text-align: center;
}

.redes a, i {
    font-size: 24px;
    color: #ffa400ff;
    margin: 20px;
}

.perfil {
    width: 300px;
    height: 300px;
    margin: 40px;
    border-radius: 100%;
  
}

.team {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding: 26px;
}
.perfiles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding: 20px;
    
}

.avatar a{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #107c10ff;
    font-size: 24px;
}

.team img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color:#107c10ff;
    color: #ffffff;
    padding: 20px;
}

img.logo {
    width: 300px;
    height: auto;
}

.catedra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}

.column_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.legales, small {
    text-align: center;
    padding: 0% 10%;
}
